<style>
tcl-header {
  display: block;
  width: 100%;
  background: white;
  text-align: center;
}
tcl-header h1:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
tcl-header h1 {
  display: inline;
  font-family: 'century gothic';
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0em 0.5em;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  color: transparent;
  background:
    linear-gradient(
      to bottom, 
      red,
      red 48%,
      white 48%,
      white 54%,
      black 54%
    );
  -webkit-background-clip: text;
  background-clip: text;
}
tcl-header hr {
  position: absolute;
  z-index: 0;
  top: 0.75em;
  left: 1%;
  width: 98%;
  border: none;
  border-top: 1px solid red;
}
tcl-header hr.timer {
  --progress: 0%;
  width: var(--progress);
  border-color: #222;
  transition: width 0.3s linear;
}
tcl-header section {
  text-align: right;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 59% 19% 19%;
  grid-template-rows: auto;
  grid-template-areas: ". header header"
                       ". eerste tweede";
  margin-top: -0.5em;
  position: relative;
  z-index: 2;
}
tcl-header h2, tcl-header h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  font-size: 0.6em;
  font-weight: 100;
  grid-area: header;
  text-align: center;
}
tcl-header h3 {
  padding: 0.2em 0.5em 0.5em 0.5em;
  border-top: 0.1em solid #222;
}
tcl-header h3.eerste {
  grid-area: eerste;
}
tcl-header h3.tweede {
  grid-area: tweede;
}
</style>
<template id="tmpl-header-container">
  <hr>
  <hr class="timer">
  <h1>...</h1>
</template>
<template id="tmpl-header-baantransport">
  <section>
    <h2>nog in te plannen</h2>
    <h3 class="eerste">1e werk</h3>
    <h3 class="tweede">2e werk</h3>
  </section>
</template>
<script>
(function (){
const tmplHeaderContainer = document.currentScript.ownerDocument.querySelector('#tmpl-header-container').content;
const tmplHeaderBaantransport = document.currentScript.ownerDocument.querySelector('#tmpl-header-baantransport').content;

class TclHeader extends HTMLElement {
  constructor() {
    super();
    this.appendChild(tmplHeaderContainer);
    this.querySelector('h1').innerHTML = day;

    this.appendChild(tmplHeaderBaantransport);
  }
}
window.customElements.define('tcl-header', TclHeader);
})();
</script>