<template id="tmpl-tcl-col">
  <style>
  :host {
    all: initial;
    contain: content; /* Boom. CSS containment FTW. */
    float: right;
    font: var(--font);
    display: flex;
    flex-flow: column wrap;
    width: calc(19.5em - 1px);
    padding: 0 0 0 1px;
    background-color: #333;
  }
  ::slotted(tcl-card:last-child) {
    margin-bottom: 2.6em;
  }
</style>
<slot></slot>
</template>
<script>
const tmplTclCol = document.currentScript.ownerDocument.querySelector('#tmpl-tcl-col').content;
customElements.define('tcl-col', class TclCol extends HTMLElement {
  // static get observedAttributes() {
  //   return ['size'];
  // }
  // attributeChangedCallback(attrName, oldVal, newVal) {
  //   this[attrName] = newVal;
  // }
  constructor() {
    super();
    this.root = this.attachShadow({ mode: 'open' });  // create shadow box
    this.root.prepend(document.importNode(tmplTclCol, true));
  }
  connectedCallback() {
  }
});
</script>