<template id="tmpl-tcl-card">
  <style>
  :host {
    all: initial;
    contain: content;
    font: var(--font);
    display: inline-block;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid var(--color-bg);
    border-left-width: 0;
    border-bottom-width: 0;
    background: orange;
    width: var(--card-width);
    height: var(--card-height);
    padding: 0;
    margin: 0;
  }
</style>
<slot></slot>
</template>
<script>
const tmplTclCard = document.currentScript.ownerDocument.querySelector('#tmpl-tcl-card').content;
class TclCard extends HTMLElement {
  // ************* CONSTRUCTOR + CUSTOM ELEMENT ************
  static get observedAttributes() {
    return ['tstamp'];
  }
  attributeChangedCallback(attrName, oldVal, newVal) {
    if (oldVal !== newVal) {
      this[attrName] = newVal;
    }
  }
  constructor(xml) {
    super();
    this.xml = xml;
    if (this.showUpInDayPlanning) {
      this.root = this.attachShadow({ mode: 'open' });
      this.root.prepend(document.importNode(tmplTclCard, true));
      this.tstamp = this.tstamp;
      let row = document.querySelector(`tcl-row[truck="${this.truck}"]`);
      if (!row) {
        row = document.createElement('tcl-row');
        row.setAttribute('truck', this.truck);
        document.body.appendChild(row);
      }
      row.setAttribute('chauffeur', this.CHAUFFEUR);
      this.innerHTML = new XMLSerializer().serializeToString(this.xml);
      row.appendChild(this);
    }
  }
  static log(e) {
    console.log(e.target.xml);
  }
  connectedCallback() {
    if (location.port === '8001') {
      this.addEventListener('click', this.constructor.log);
    }
  }
  disconnectedCallback() {
    // clear everything
    if (location.port === '8001') {
      this.removeEventListener('click', this.constructor.log);
    }
  }

  // ************* SHOW UP ****************
  get showUpInDayPlanning() {
    // if activiteit = Baantransport or Doktransport while there is NO chauffeur, DON't show it
    // var chauffeur = ((item.CHAUFFEUR!='') || (['BAANTRANSPORT','DOKTRANSPORT'].indexOf(card.activity)==-1));
		// var foutvracht = (item.STATUS2.toUpperCase() == 'FOUTVRACHT');
					
		// 			if(!foutvracht && card.display && !card.oldNOTOP && chauffeur && (truck || (['GARAGE','PARKING'].indexOf(card.activity)==-1))) {
					
    return this.checkDay &&
      (this.charter || this.dok || (
        ['PLAN', 'PROG', 'NOTOP'].includes(this.STATUSCODE) &&
        [
          'BAANTRANSPORT',
          'DOKTRANSPORT',
          'VERLOF',
          'ZIEKTE',
          'GARAGE',
          'ANNULATIE',
          'ARBEIDSONGESCHIKT',
          'ARBEIDSONGEVAL',
          'ECONOMISCH WERKLOOS',
          'DOK'
        ].includes(this.ACTIVITEIT))
      ) && 
      !['FOUTVRACHT'].includes(this.STATUS2) &&
      !this.oldNOTOP &&
      (this.CHAUFFEUR || !['BAANTRANSPORT', 'DOKTRANSPORT'].includes(this.ACTIVITEIT)) &&
      (this.truck || !['GARAGE', 'PARKING'].includes(this.ACTIVITEIT));
  }
  // ************* GET TAGS ***************
  get Date_active() {
    if (this._Date_active === undefined) {
      this._Date_active = this.xml ? this.xml.querySelector('Date_active') : null;
      if (this._Date_active) this._Date_active = this._Date_active.textContent.trim();
    }
    return this._Date_active;
  }
  get TIMEREQ() {
    if (this._TIMEREQ === undefined) {
      this._TIMEREQ = this.xml ? this.xml.querySelector('TIMEREQ') : null;
      if (this._TIMEREQ) this._TIMEREQ = this._TIMEREQ.textContent.trim();
    }
    return this._TIMEREQ;
  }
  get DATREQ() {
    if (this._DATREQ === undefined) {
      this._DATREQ = this.xml ? this.xml.querySelector('DATREQ') : null;
      if (this._DATREQ) this._DATREQ = this._DATREQ.textContent.trim();
    }
    return this._DATREQ;
  }
  get Truck_Fleet_Number() {
    if (this._Truck_Fleet_Number === undefined) {
      this._Truck_Fleet_Number = this.xml ? this.xml.querySelector('Truck_Fleet_Number') : null;
      if (this._Truck_Fleet_Number) this._Truck_Fleet_Number = this._Truck_Fleet_Number.textContent.trim();
    }
    return this._Truck_Fleet_Number;
  }
  get STATUS2() {
    if (this._STATUS2 === undefined) {
      this._STATUS2 = this.xml ? this.xml.querySelector('STATUS2') : null;
      if (this._STATUS2) this._STATUS2 = this._STATUS2.textContent.trim().toUpperCase();
    }
    return this._STATUS2;
  }
  get STATUSCODE() {
    if (this._STATUSCODE === undefined) {
      this._STATUSCODE = this.xml ? this.xml.querySelector('STATUSCODE') : null;
      if (this._STATUSCODE) this._STATUSCODE = this._STATUSCODE.textContent.trim().toUpperCase();
    }
    return this._STATUSCODE;
  }
  get ACTIVITEIT() {
    if (this._ACTIVITEIT === undefined) {
      this._ACTIVITEIT = this.xml ? this.xml.querySelector('ACTIVITEIT') : null;
      if (this._ACTIVITEIT) this._ACTIVITEIT = this._ACTIVITEIT.textContent.trim().toUpperCase();
      if (this.STATUS2 === 'DOK') this._ACTIVITEIT = 'DOK';
    }
    return this._ACTIVITEIT;
  }
  get CHAUFFEUR() {
    if (this._CHAUFFEUR === undefined) {
      this._CHAUFFEUR = this.xml ? this.xml.querySelector('CHAUFFEUR') : null;
      if (this._CHAUFFEUR) this._CHAUFFEUR = this._CHAUFFEUR.textContent.trim().toUpperCase();
    }
    return this._CHAUFFEUR;
  }

  // ************* CHECK DAY ************
  get checkDay() {
    return DAY === DAYSOFWEEK[this.Date_active ? (new Date(this.Date_active)).getDay() : 0];
  }
  // ************* CHARTER ************
  get charter() {
    return ((/RESERVATIE/ig).test(this.STATUS2) && !(/RESERVATIE/ig).test(this.Truck_Fleet_Number));
  }
  // ************* DOK? ************
  get dok() {
    return (/DOK/ig).test(this.STATUS2);
  }
  // ************* TRUCK ************
  get truck() {
    if (this._truck === undefined) {
      if (this.Truck_Fleet_Number) {
        if (!isNaN(this.Truck_Fleet_Number.split(' ')[0])) {
          this._truck = this.Truck_Fleet_Number.split(' ')[0];
        } else {
          this._truck = this.Truck_Fleet_Number.replace(/[\[\]]/ig, '').trim();
        }
      } else {
        this._truck = null;
      }
    }
    return this._truck;
  }
  // ************* TIMESTAMP ************
  set tstamp(val) {
    if (val !== this._tstamp) {
      this._tstamp = val;
      this.setAttribute('tstamp', this._tstamp);
    }
  }
  get tstamp() {
    if (this._tstamp === undefined) {
      let timereq = this.TIMEREQ;
      let h = 0;
      let m = 0;
      if (!isNaN(timereq)) {
        if(timereq/100>24) timereq = timereq/10000;
        else timereq = timereq/100;
        h = Math.floor(timereq);
        m = (timereq - Math.floor(timereq)) * 100;
      }
      const datereq = this.DATREQ;
      if (datereq) {
        this._tstamp = (new Date(`${datereq} ${h}:${m}`)).getTime();
      } else {
        this._tstamp = null;
      }
      this.setAttribute('tstamp', this._tstamp);
    }
    return this._tstamp;
  }
  get oldNOTOP() {
    if (this._oldNOTOP === undefined) {
      this._oldNOTOP = false;
      // if this not-operational card is older than "yesterday"
      const yesterday = new Date(new Date().getFullYear(), new Date().getMonth(), (new Date().getDate())-1);
      if (!['BAANTRANSPORT','DOKTRANSPORT','RESERVATIE'].includes(this.ACTIVITEIT) &&
        this.Date_active && 
        (new Date(this.Date_active)).getTime() < yesterday.getTime()) {
        this._oldNOTOP = true;
      }
    }
    return this._oldNOTOP;
  }
}
customElements.define('tcl-card', TclCard);
</script>