<template id="tmpl-tcl-row">
  <style>
  :host {
    all: initial;
    contain: content; /* Boom. CSS containment FTW. */
    display: flex;
    flex-flow: row nowrap;
    font: var(--font);
    min-height: var(--card-height);
    animation: tcl-fade-in var(--fade-in) linear;
  }
  :host([truck="repository"]) {
    /* display: none; */
  }
  :host([gap]), :host([truck="null"]) {
    margin-top: var(--card-height);
  }
  .index {
    font: var(--font);
    font-weight: bold;
    color: var(--color-white);
    width: 6.85em;
    flex-grow: 0;
    background: red;
    box-sizing: border-box;
    border: 1px solid black;
    border-left-width: 0;
    border-bottom-width: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 0.5em 0 0.85em;
    overflow: hidden;
  }
  .truck {
    font-size: 1.3em;
  }
  .row {
    flex-grow: 1;
    width: calc(100% - 5em);
    display: flex;
    flex-flow: row wrap;
  }
</style>
<div class="index">
  <tcl-marquee class="truck"></tcl-marquee>
  <tcl-marquee class="chauffeur"></tcl-marquee>
</div>
<div class="row">
  <slot></slot>
</div>
</template>
<script>
const tmplTclRow = document.currentScript.ownerDocument.querySelector('#tmpl-tcl-row').content;
customElements.define('tcl-row', class TclRow extends HTMLElement {
  static get observedAttributes() {
    return ['truck', 'chauffeur'];
  }
  attributeChangedCallback(attrName, oldVal, newVal) {
    this[attrName] = newVal;
  }
  set truck(val) {
    if (val!==this._truck) {
      this._truck = val;
      this.setAttribute('truck', val);
      if (val !== 'null') {
        this.root.querySelector('.truck').textContent = val;
      }
    }
  }
  set chauffeur(val) {
    if (val!==this._chauffeur) {
      this._chauffeur = val;
      this.setAttribute('chauffeur', val);
      if (this._truck !== 'null') {
        this.root.querySelector('.chauffeur').textContent = val;
      }
    }
  }
  constructor() {
    super();
    this.root = this.attachShadow({ mode: 'open' });  // create shadow box
    this.root.prepend(document.importNode(tmplTclRow, true));
  }
  connectedCallback() {
  }
});
</script>